body {
    margin: 0;
    background-color: #000;
    overflow: hidden;
}

#gra {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#tlo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#wynik {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 36px;
    z-index: 2;
}

#paddle-gracz, #paddle-ai {
    position: absolute;
    width: 40px;
    height: 200px;
    top: 50%;
    z-index: 1;
}

#paddle-gracz {
    left: 20px;
}

#paddle-ai {
    right: 20px;
}

#pilka {
    position: absolute;
    width: 55px;
    height: 55px;
    z-index: 1;
    border-radius: 35%;
}
